.headline-gen-cols{
  display: flex;
}
.word-col, .headline-gen-bot, .headline-gen-btn-gen, .headline-gen-out, .headline-gen-save {
    display: flex;
    flex-direction: column;
    margin: 5px;
    text-align: center;
}
.word-col {
  width: 12%;
}
label {
  font-weight: bold;
  margin-bottom: 5px;
}

.headline-gen-bot, .headline-gen-saves {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;

}
.headline-gen-out, .headline-gen-save {
  width: -webkit-fill-available;
  text-transform: capitalize;

}

.headline-gen-btn-rst {
    display: flex;
    flex-direction: column;
    place-self: end;
    margin: 5px;
    text-align: center;
    height: fit-content;
}

.cst-head {
  display: flex;
      flex-direction: column;
  margin-top: 5px;
    margin-bottom: 5px;
}

.btn-options {
  margin-top: 5px;
}
